
*.opendb
Debug
.vs
HelloOpenGL/HelloOpenGL.vcxproj
*.vcxproj
OpenGL/OpenGL.vcxproj
OpenGL/OpenGL.vcxproj
OpenGL/OpenGL.vcxproj.filters
OpenGL/OpenGL.vcxproj
*.vcxproj
OpenGL/OpenGL.vcxproj
OpenGL/OpenGL.vcxproj.filters
Shading/Shading.vcxproj.filters
*.filters
